<!DOCTYPE html>
<div class="layer-info-item ms-auto order-last align-self-start">
    <% if (typeof datasets !== "undefined" && datasets !== false) { %>
        <span class="bootstrap-icon info-icon"><i class="bi-info-circle-fill"></i></span>
    <% } %>
</div>
<div class="layer-item d-flex align-items-center">
    <% if (singleBaseLayer) { %>
        <% if (isSelected) { %>
            <input type="radio" id="<%= name %>" checked name="radio-group" tabindex="0">
        <% } else { %>
            <input type="radio" id="<%= name %>" name="radio-group" tabindex="0">
        <% } %>
        <% if (isSecured) { %>
            <span class="bootstrap-icon lock-icon"><i class="bi-lock-fill"></i></span>
        <% } %>
        <span class="title"><%= name %></span>            
    <% } else { %>    
        <% if (isSelected) { %>
            <span class="bootstrap-icon"><i class="bi-check2-square"></i></span>
        <% } else { %>
            <span class="bootstrap-icon"><i class="bi-square"></i></span>
        <% } %>
        <% if (isSecured) { %>
            <span class="bootstrap-icon lock-icon"><i class="bi-lock-fill"></i></span>
        <% } %>
        <span class="title"><%= name %></span>
    <% } %>
</div>
